name: Build

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - 'master'
      - 'hotfix-*'

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: ["7.4", "8.1", "8.2", "8.3", "8.4"]
    steps:
      - uses: actions/checkout@v5
      - uses: shivammathur/setup-php@2.36.0
        with:
          php-version: "${{ matrix.php-version }}"
      - name: Install
        run: composer update
      - name: Test
        run: composer test